.over {
    background-color: #cedae3;
}
 
.out {
    background-color: #a6bcce;
}

.issue {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    
    border: 1px solid #dddddd;
}

.draggable {
    cursor: move;
}

.issue-label {

}

.task-bin {
    margin:0px;
    padding: 5px;
    min-height: 130px;
   
}

.test {
    background-color: #eee;
}
