.over {
    background-color: #cedae3;
}
 
.out {
    background-color: #a6bcce;
}

.issue {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.draggable {
    cursor: move;
}

.issue-label {

}

.inline {
    display: inline;
}

.task-bin {
    margin:0px;
    padding: 5px;
    min-height: 130px;
   
}

.task-assignee {
    padding: 1px;
    margin: 2px;
    background-color: #efefef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.task-issuebox {

    margin-bottom: 10px;

}
