.over {
    background-color: #cedae3;
}
 
.out {
    background-color: #a6bcce;
}

.issue {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    cursor: move;
    border: 1px solid #dddddd;
}