<div class="well issue">
    
    <div class="row-fluid">
        <div class="span1"><a href="{{i.html_url}}">#{{i.number}}</a></div>
        <div class="span8"> <b>{{i.title}}</b> <span class="label issue-label" style="background-color: #{{l.color}}" ng-repeat="l in labels.labels | orderBy: 'color'">{{l.name}}</span></div>
        <div class="span1"><b style="color: #{{estimate.color}}">{{estimate.friendlyName}}</b></div>
        <div class="span1"><button class="btn" ng-show="i.state == 'open'" ng-click="close()">Close</button> <button class="btn" ng-show="i.state == 'closed'" ng-click="reopen()">ReOpen</button></div>
    </div>
    
</div>