
<div class="row-fluid">
    <div class="span10"><h4><a href="http://github.com/{{owner}}/{{repoName}}">http://github.com/{{owner}}/{{repoName}}</a></h4></div>
    <div class="span2"><a class="btn" href="#"><i class="icon-chevron-left"></i> Back to Projects</a></div>
    
</div>



<hr/>
        
        <div class="row-fluid">
        
            <div class="span6">
            
            
                <form class="well" ng-submit="add()" ng-controller="IssueCtrl">
                    <h5>Add Issue</h5>
                    <input type="text" ng-model="title" placeholder="issue title">
                    <input type="submit" class="btn-primary" value="Create" />
                </form>
            
                
            
                <div class="well" droppable="removeIssueMilestone">
                    <h4>No Milestone</h4>
                    
                    <hr/>
                    
                                       
                    <issue draggable ng-model="i" ng-repeat="i in issues | orderBy: 'number' | filter: hasNoMilestone ">
                    </issue>
                </div>
                

            
            </div>
        
            <div class="span6">
                <div class="well" droppable="addIssueToMilestone" ng-model="m" ng-repeat="m in milestones | orderBy: 'due_on' | filter: compare" ng-controller="MilestoneCtrl">
                    <div class="row-fluid">
                        
                        <div class="span5"> <h4> {{m.title}} </h4></div>
                        
                        <div class="span4">{{m.open_issues}} open | {{m.closed_issues}} closed</div>
                        <div class="span3">{{m.due_on | date:short}}</div>
                    </div>
                    <hr/>
    
                    
                    <issue draggable ng-model="i" ng-repeat="i in issues | orderBy: 'number' | filter: { milestone.number : m.number }">
                    <issue>
                </div>
                
               
                 <form class="well" ng-submit="add()"  ng-controller="MilestoneCtrl">
                    <h5>New Milestone</h5>
                    <input type="text" ng-model="title" size="30" placeholder="title" />
                    <input type="text" ng-model="dueon" size="10" placeholder="due date:  yyyy-mm-dd" />
                    <input class="btn-primary" type="submit" value="Create" />
                </form>
            </div>
            

            
        </div>
        



<!--

        
        <hr/>
        
        
        
        <h3>Labels</h3>


        <form  class="form-horizontal" ng-repeat="l in labels | orderBy: 'color'" ng-submit="saveLabel(l)" ng-controller="LabelCtrl">
           <span>{{l.name}}</span> 
            <input type="text" ng-model="l.color"  size="6" placeholder="color">
            <input class="btn-primary" type="submit" value="save" />
            <input type="button" class="btn" ng-click="delLabel(l)" value="Delete" />
        </form>
        
        <form class="form-vertical" ng-submit="addLabel()" ng-controller="LabelCtrl">
            <input type="text" ng-model="name"  size="30" placeholder="name" />
            <input type="text" ng-model="color"  size="6" placeholder="color" style="background-color: #{{color}}" />
            <input class="btn-primary" type="submit" value="add" />
        </form>
-->    
